<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Fix My Problem | Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles2.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>

    <body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="file:///Users/juliashi/Desktop/home.html">Fix My Problem</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="file:///Users/juliashi/Desktop/portfolio.html">Your Problem Portfolio</a></li>
            <li><a href="file:///Users/juliashi/Desktop/index.html">Log Out</a></li>
        </ul>
    </div>

    </div>
    </nav>

    <!-- Weekly problem section-->
    <div class="jumbotron jumbotron-home">
    <div class="container" align="center">
        <img src="imgs/homeicon.png" width="200" height="200">
        <br>
        <!-- Weekly problem modal button-->
        <button type="button" class="btn btn-info btn-lg button-orange" data-toggle="modal" data-target="#weekly">Problem of the Week!</button>
        <!-- Modal -->
        <div class="modal fade" id="weekly" role="dialog">
        <div class="modal-dialog">

          <!-- Weekly problem content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Problem of the Week!</h4>
            </div>
            <div class="modal-body">
              <p>My best friend is currently going for the same guy I have a crush on. She's really important to me but also I've liked this guy since I was a fetus. What should I do?</p>
            </div>
            <hr>
            <div class="modal-choices">
              <p>Choices here</p>
            </div>
            <hr>
            <div class="modal-input-choice">
              <p>Submit your own input here</p>
            </div>
            <hr>
            <div class="modal-other-choices">
              <p>Toggle through other's choices and vote on them here.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-info btn-lg button-orange" data-dismiss="modal">Submit
              </button>
            </div>
          </div>
        </div>
        </div>

    </div>
    </div>

    <!-- Post, vote, or search a problem and donate button-->
    <div class="jumbotron jumbotron-home">
    <div class="container" align="center">
        <div class="row">

        <!-- Post a problem-->
        <div class="col-md-4">
            <!-- Post modal button-->
            <button type="button" class="btn btn-info btn-lg button-orange lg-custom" data-toggle="modal" data-target="#post">POST</button>
            <!-- Modal -->
            <div class="modal fade" id="post" role="dialog">
            <div class="modal-dialog">
              <!-- Post problem content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Post a problem</h4>
                </div>
                <div class="modal-body">
                  <p>Problem here</p>
                </div>
                <hr>
                <div class="modal-choices">
                  <p>Choices here</p>
                </div>
                <hr>

                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-info btn-lg button-orange" data-dismiss="modal">Post
                  </button>
                </div>
              </div>
            </div>
            </div>
            <br>
            <h4>Post a problem to fix!</h4>
            <br>
            <p>Others will pick whatever choice they think is best, and might even comment some answers you haven't thought of!</p>
        </div>

        <!-- Vote on a problem-->
        <div class="col-md-4">
            <!-- Vote modal button-->
            <button type="button" class="btn btn-info btn-lg button-orange lg-custom" data-toggle="modal" data-target="#vote">VOTE</button>
            <!-- Modal -->
            <div class="modal fade" id="vote" role="dialog">
            <div class="modal-dialog">
              <!-- Vote on problem content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">How would you fix this problem?</h4>
                </div>
                <div class="modal-body">
                  <p>Problem here</p>
                </div>
                <hr>
                <div class="modal-choices">
                  <p>Choices here</p>
                </div>
                <hr>

                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-info btn-lg button-orange" data-dismiss="modal">Submit
                  </button>
                </div>
              </div>
            </div>
            </div>
            <br>
            <h4>Vote on a problem!</h4>
            <br>
            <p>If you think the answer isn't there, write one for them! Get 5-stars on your fix, and your choices will be highly valued!</p>
        </div>

        <!-- Donate button-->
        <div class="col-md-4">
            <!-- Donate modal button-->
            <button type="button" class="btn btn-info btn-lg button-orange lg-custom" data-toggle="modal" data-target="#donate">DONATE</button>

            <!-- Modal -->
            <div class="modal fade" id="donate" role="dialog">
            <div class="modal-dialog">
              <!-- Donate form content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Support us!</h4>
                </div>
                <div class="modal-body">
                  <p>Donation form here</p>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-info btn-lg button-orange" data-dismiss="modal">Donate!
                  </button>
                </div>
              </div>
            </div>
            </div>
            <br>
            <h4>Help us out!</h4>
            <br>
            <p>You can support FixMyProblem with a Paypal donation! Any contribution, large or small, will help keep this place running!</p>
        </div>

        </div>
    </div>
    </div>

    <!-- Contact us form here, non functional right now -->
    <div class="jumbotron" align="center">
        <div class="wrapper">

            <form class="form-contact">       
              <h2 class="form-contact-heading">Got problems with the site?</h2>
              <h5>Leave us a message!</h5>
            
            <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <textarea class="form-control textarea" rows="3" name="Message" id="Message" placeholder="Message"></textarea>
                </div>
            </div> 
            </div>
            <a class="btn btn-primary btn-lg button-orange" type="submit">Send</a>

            </form>
        </div>
    </div>>

    </body>
</html>