<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Fix My Problem</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles2.css">

    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </head>

  <body>
  <h1><%= email %></h1>
  <nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Fix My Problem</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/login">Log In</a></li>
        <li><a href="/signup">Sign Up</a></li>
      </ul>
    </div>

  </div>
  </nav>

  <!-- Landing page Sign up Form -->
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <!-- Attention grabbing header -->
        <div class="col-md-6">
          <h1>GOT LIFE PROBLEMS?</h1>
          <h1>GET ANSWERS.</h1>
          <!-- Maybe have cycling phrases here below? -->
          <h3>Don't just ask your mom for help.</h3>
          <br>
          <p>Post on <b>fixmyproblem.com</b> and see what people from all over the world would do in your shoes.</p>
          <br>
        </div>
        <!-- SPACE -->
        <div class='col-md-1'>
          <br>
        </div>
        <!--Sign up form action -->
        <div class="col-md-5 col-custom">
          <form method="POST" action="/signup">
            <h3 align="center">Join FixMyProblem today.</h3>
            <br>
            <!-- Input email -->
            <div class="form-group">
              <input type="email" class="form-control" name="email" id="InputEmail1" aria-describedby="emailHelp" required="" placeholder="Email address">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <!-- Input password -->
            <div class="form-group">
              <input type="password" class="form-control" name="password" id="InputPassword1" required="" placeholder="Enter password">
            </div>
            <!-- Confirm Password -->
            <div class="form-group">
              <input type="password" class="form-control" name="confirm" id="InputPassword1" required="" placeholder="Confirm password">
            </div>
            <!-- Sign up button either registers you -->
            <!-- or gives you error message-->
            <button type="submit" class="btn btn-primary btn-lg center-block button-orange">Sign Up Now!</button>
          </form>
        </div>

      </div>
    </div>
  </div>

  <!-- How it works Section -->
  <div class="jumbotron jumbotron-custom">
    <div class="container" align="center">
      <h4>HOW IT WORKS</h4>
      <br>
      <div class="row">
      <!-- Steps of using the site -->
        <div class="col-md-4">
          <span class="glyphicon glyphicon-pencil glyphicon-large" aria-hidden="true"></span>
          <h3>POST!</h3>
          <br>
          <p>Post a problem and add a couple of answers you just can't decide on. Others will pick whatever choice they think is best, and might even comment some answers you haven't thought of!</p>
        </div>
        <div class="col-md-4">
          <span class="glyphicon glyphicon-check glyphicon-large" aria-hidden="true"></span>
          <h3>VOTE!</h3>
          <br>
          <p>Vote on the answer you think is the best fix. If it's not there, write one for them! Your solutions' star-rating will determine your own. Get 5-stars, and your choices will be highly valued!</p>
        </div>
        <div class="col-md-4">
          <span class="glyphicon glyphicon-repeat glyphicon-large" aria-hidden="true"></span>
          <h3>REPEAT!</h3>
          <br>
          <p>After you answer a problem, you'll be given a new one to help fix! You can also look for problems of specific categories by typing their topic in the search bar! Happy fixing!</p>
        </div>
        <br>

      </div>
    </div>
  </div>

  <!-- More Info section -->
  <div class="jumbotron jumbotron-custom2">
    <div class="container" align="center">

        <h3>JOIN THE COMMUNITY!</h3>
        <br>
        <br>
        <div class="row">
          <div class="col-md-6">
            <img src="imgs/rating.png" width="350" height="350">
          </div>
          <!-- Feedback on the feedback explanation -->
          <div class="col-md-6">
            <h4>GIVE FEEDBACK ON THE FEEDBACK!</h4>
            <br>
            <p>In life, there will always be more than one answer to a problem.</p>
            <p>Some answers are better than others.</p>
            <br>
            <p>Cast your rating on whether an additional choice is useful or not!</p>
          </div>
        </div>

    </div>
  </div>

  <!-- Decide a weekly problem info -->
  <div class="jumbotron jumbotron-custom">
    <div class="container" align="center">

        <br>
        <br>
        <div class="row">
          <div class="col-md-6">
            <h4>DECIDE A WEEKLY PROBLEM!</h4>
            <br>
            <p>Each week, a truly problematic problem will be chosen by the community to be featured on the homepage.</p>
            <br>
            <p>If you run into a dilemma you think is interesting, give it a Gold-star!</p>
          </div>

          <div class="col-md-6">
            <img src="imgs/weeklyprob.png" width="350" height="350">
          </div>
        </div>

    </div>
  </div>

  <!-- Shame-free/signup reminder section -->
  <div class="jumbotron jumbotron-orange" align="center">
    <div class="container">
      <h2>YOUR POSTS ARE SHAME-FREE!</h2>
      <br>
      <p>Don't worry, everything is anonymous, and problems can't be tracked down!</p>
      <p>So it's okay to talk about your uncontrollable farting problem.</p>
      <p>Your crush won't find out.</p>
      <!-- Button should bring you back to top of page -->
      <br>
      <span id="top-link-block">
      <a class="btn btn-primary btn-lg button-white-orange" href="#top" role="button">SIGN UP TODAY</a>
      </span>
    </div>
  </div>
  </body>
</html>
