<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Fix My Problem | Vote a Problem</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles2.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>

    <body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/home">Fix My Problem</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/portfolio">Your Problem Portfolio</a></li>
            <li><a href="/post">Post</a></li>
            <li><a href="/vote">Vote</a></li>
            <li><a href="/logout">Log Out</a></li>
        </ul>
    </div>

    </div>
    </nav>

    <div class="jumbotron">
    <div class="container">
        <!-- <p>All current problems that have been posted on the website are displayed here for us to visualize.</p> -->
        <p>Choose what problem you'd like to fix!</p>
    </div>
    </div>

        <% posts.forEach(function(p) { %>

        <div class="jumbotron">
        <div class="container">
            <!-- <h1><a href='/vote/<%= p.id %>'><%= p.post %><%= p.options %></a></h1> -->
            <h1><a href='/vote/<%= p.id %>'><%= p.post %></a></h1>
        </div>
        </div>

        <% }); %>

    </body>
</html>
