<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Fix My Problem | Vote a Problem</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles2.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>

    <body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/home">Fix My Problem</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/portfolio">Your Problem Portfolio</a></li>
            <li><a href="/post">Post</a></li>
            <li><a href="/vote">Vote</a></li>
            <li><a href="/logout">Log Out</a></li>
        </ul>
    </div>

    </div>
    </nav>
    
    <div class="jumbotron">
    <div class="container">
        
            
        <div class="form-group">
            <form action="/post" name="postform" method="POST">
                <label for="Textarea">What's your problem?</label>
                <textarea class="form-control" name="problems" id="Textarea" rows="5"></textarea>
        <!-- /div>
        <br>
        <div class="form-group row"> -->
                <label for="example-search-input" class="col-2 col-form-label">Option 1</label>
            <!-- <div class="col-10"> -->
                <input class="form-control" name="option1" type="search" placeholder="Enter option" id="example-search-input">
                <label for="example-search-input" class="col-2 col-form-label">Option 2</label>
                <input class="form-control" name="option2" type="search" placeholder="Enter option" id="example-search-input">
                <label for="example-search-input" class="col-2 col-form-label">Option 3</label>
                <input class="form-control" name="option3" type="search" placeholder="Enter option" id="example-search-input">
                <label class="form-check-label">
                Enable comments? <input class="form-check-input" type="checkbox">
                </label>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <!-- </div> -->
        </div>
        
        <!-- be able to enable comments? -->
        <!-- <div class="form-check mb-2 mr-sm-2 mb-sm-0">
            <label class="form-check-label">
            Enable comments? <input class="form-check-input" type="checkbox">
            </label>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        
    </form> -->
        
        <!-- **input other options here -->
    </div>
    </div>
    
    </body>
</html>
