<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Fix My Problem | Post A Problem</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles2.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>

    <body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/home">Fix My Problem</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/portfolio">Your Problem Portfolio</a></li>
            <li><a href="/post">Post</a></li>
            <li><a href="/vote">Vote</a></li>
            <li><a href="/logout">Log Out</a></li>
        </ul>
    </div>

    </div>
    </nav>

    <div class="jumbotron">
    <div class="container">

        <h3><strong>Problem:</strong></h3>

        <p><em><%= problem %></em></p>

        <h4><strong>How would YOU fix this problem?</strong></h4>


        <!-- generate paragraph here -->

        <!-- generate options here -->

        <!-- IF comments enabled, be able to comment here -->

        <form action='/api/vote' method="post" name='voteForm'>

            <% for (var i = 0; i < options.length; i++) { %>
            <input type="hidden" value="<%= id %>" name="probId" />
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optionSelect" id="optionsRadios1" value="<%= i %>">
                    <%= options[i] %>
                </label>
            </div>
            <br>

            <% } %>
            <button type="submit" class="btn btn-primary">Submit</button>

        </form>

    </div>
    </div>

    </body>
</html>
